ip: "192.168.10.10"
memory: 2048
cpus: 1
provider: virtualbox

authorize: ~/.ssh/public/id_rsa.pub

keys:
    - ~/.ssh/private/id_rsa

folders:
    - map: {{ project_dir }}
      to: /home/vagrant/code/
      type: "nfs"

sites:
    - map: laravel.local
      to: /home/vagrant/code/Perso/repos/laravel/public

databases:
    - laravel