# Path to your oh-my-zsh installation.
export ZSH=/Users/maxence.m/.oh-my-zsh

ZSH_THEME="../custom/themes/spaceship-prompt/spaceship"

HIST_STAMPS="dd/mm/yyyy"

plugins=(battery git brew docker github node npm osx pip python zsh-completions zsh-syntax-highlighting homestead)

GEOMETRY_PROMPT_PLUGINS=(virtualenv docker_machine exec_time git)
GEOMETRY_PROMPT_PREFIX="\n"
GEOMETRY_PROMPT_SUFFIX="\n"
GEOMETRY_PROMPT_PREFIX_SPACER=" "
GEOMETRY_SYMBOL_SPACER=" "
GEOMETRY_DIR_SPACER=" "
GEOMETRY_PLUGIN_SEPARATOR=" "
GEOMETRY_GREP=""

source $ZSH/oh-my-zsh.sh
source ~/.zshrc.local

# Config for NVM
export NVM_DIR="$HOME/.nvm"
. "/usr/local/opt/nvm/nvm.sh"